<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Packet_DEV.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PRODEntities" connectionString="metadata=res://*/WMS_Model.csdl|res://*/WMS_Model.ssdl|res://*/WMS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.211;initial catalog=PROD;persist security info=True;user id=sa;password=zaq1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Packet_DEV.My.MySettings.PRODConnectionString" connectionString="Data Source=192.168.1.11;Initial Catalog=PROD;Persist Security Info=True;User ID=eWMS_Owner;Password=(eUwPWWfz2Gz5drm(lSKwC5L"
      providerName="System.Data.SqlClient" />
    <add name="Packet_DEV.My.MySettings.FWKConnectionString" connectionString="Data Source=192.168.1.11;Initial Catalog=FWK;User ID=eWMS_Owner;Password=(eUwPWWfz2Gz5drm(lSKwC5L"
      providerName="System.Data.SqlClient" />
    <add name="Packet_DEV.My.MySettings.AADConnectionString" connectionString="Data Source=HJDATA\HJWMS;Initial Catalog=AAD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Packet_DEV.My.MySettings.RFConnectionString" connectionString="Data Source=192.168.1.11;Initial Catalog=RF;User ID=eWMS_Owner;Password=(eUwPWWfz2Gz5drm(lSKwC5L"
      providerName="System.Data.SqlClient" />
    <add name="Commerce" connectionString="Data Source=192.168.1.52;Initial Catalog=SJOB;Persist Security Info=True;User ID=EC_PACK_Executor;Password=uF8tEFy7xRzS9UkP;"
      providerName="System.Data.SqlClient" />
    <add name="Packet_DEV.My.MySettings.AADTConnectionString" connectionString="Data Source=192.168.1.137\hjwms;Initial Catalog=AAD;User ID=eWMS_Owner;Password=(eUwPWWfz2Gz5drm(lSKwC5L" />
  </connectionStrings>
  <appSettings>
    <!-- Shopee API V2 Setting -->
    <add key="Shopee:V2:BaseUrl" value="https://partner.shopeemobile.com" />
    <add key="Shopee:V2:PartnerId" value="2003617" />
    <add key="Shopee:V2:ShopId" value="211208801" />
    <add key="Shopee:V2:PrivateKey" value="6f67ce48f7441a07fe8285287cb0eedbb64e0672f2799b6033442fceee3e8293" />
    <add key="Shopee:UserAgent" value="eslite.com" />
    <!-- Error Mail -->
    <add key="MailTo" value="ken.wang0510@edl.com.tw;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- 這個區段定義 My.Application.Log 的記錄組態-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <Packet_DEV.My.MySettings>
      <setting name="Package_DEV_WebReference_videocalls" serializeAs="String">
        <value>http://172.16.1.101/MonitoringService/videocalls.asmx</value>
      </setting>
    </Packet_DEV.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>